
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
